/* @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Poppins:ital,wght@1,500;1,600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Poppins:ital,wght@1,500;1,600&display=swap'); */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Poppins', sans-serif; */
}

body{
    height: 200;
    min-height: 200;
    width: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img\ 3.jpg) no-repeat;
background-size: cover;
background-position: center;
backdrop-filter: blur(10px);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100vh;
    perspective: 1200px;
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 600px;

}

.card .card-bg img{
    z-index: 1;
    width: 100%;
    border-radius: 10px;
}

.logo{
    color: #D2DE32;
    position: absolute;
    top: 7%;
    left: 11%;
    font-size: 4rem;
}

.jsk{
    color:#068FFF;
    position: absolute;
    top: 37%;
    left: 60%;
    font-size: 20.5px;
}


.hny{
    color: #C70039;
    position: absolute;
    top: 45%;
    left: 44%;
    font-size: 15px;
}

.new{
    color: #C70039;
    position: absolute;
    top: 48%;
    left: 46%;
    font-size: 1.3rem;
}
.touch{
    position: absolute;
    top: 60%;
    left: 36%;
    font-size: 13px;
}
.mihir{
    position: absolute;
    top: 89%;
    left: 70%;
    font-size: 1.2rem;
}

.insta{
    position: absolute;
    top: 55%;
    left: 61%;
}

.wp{
        position: absolute;
        top: 55.5%;
        left: 74%;
    
    }

.card .title{
    z-index: 2;
    position: absolute;
    top: 50px;
    text-align: center;
    line-height: 40px;
    transition: all 0.3 ease-out;
}
